export SBOX_STANDALONE=false
if [ "$SBOX_STANDALONE" == "true" ]; then 
  export SBOX_PRODUCT_VERSION=VERSION_1_1_0
  export SBOX_SUPPRESS_CMD_RCVD=false
  export SBOX_SENSE_REG=nferalgos.azurecr.io 
  export SBOX_SENSE_REG_USER=8e5a855e-b103-4dee-81a5-41fc1dd429dc:C6E~1VJNYp7ON27ZKjOv5qceCP~nZ-kvyO 
  export SBOX_KEEP_KEYS_ON_DISK=true
else
  pushd ../../../ > /dev/null
  env_vars=$(./getsboxenv.sh)
  popd > /dev/null

  for x in ${env_vars[@]}; do
        export $x
  done
fi
